.lp-container {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
}

.lp-title {
  font-size: 18px;
  font-weight: 600;
  color: red;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
}

.lp-loginbtn {
  width: 20em;
  height: 3em;
  border-style: none;
  margin-top: 1em;
  margin-left: 40%;
  font-weight: 600;
  cursor: pointer;
}
