.sp-questions {
  margin-left: 1em;
  margin-right: 1em;
}

.sp-title {
  font-size: 28px;
  font-weight: 600;
  color: red;
  margin-bottom: 1em;
}

.tk-que {
  font-size: 16px;
  margin-bottom: 15px;
}
